body {
  background-color: #fff;
  font-size: 16px; }

body {
  background-color: #fff;
  font-size: 14px; }

div {
  font-size: 17px; }

p {
  font-size: 11px; }

body {
  background-color: #000;
  font-size: 14px; }
