@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, input, td, select, textarea {
  margin: 0;
  padding: 0; }

body {
  font-family: "微软雅黑"; }

a {
  text-decoration: none; }

ul, ol {
  list-style: none; }

img {
  border: none; }

/*top-header*/
#headerOut {
  width: 100%;
  height: 36px;
  background: #b1b1b2;
  padding: 7px 0; }

#notice {
  display: inline-block;
  font-size: 17px;
  color: #fff;
  padding-left: 15px;
  float: left; }

#list-infomation ul li {
  display: inline-block;
  height: 100%; }

#list-infomation ul li a:hover {
  text-decoration: none; }

#list-infomation {
  float: right;
  font-size: 14px; }

#storeLocator {
  color: #fff; }

#storeLocator img {
  margin-right: 4px;
  position: relative;
  top: -2px; }

#store-items {
  margin-right: 22px; }

#openOnlineChat img {
  margin-right: 4px;
  position: relative;
  top: -2px; }

#online-service span {
  color: #fff;
  cursor: pointer;
  margin-right: 40px; }

/*nav*/
.headerNav {
  width: 100%;
  height: 71px;
  border-bottom: 1px solid #8c8c8c;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
  background: white;
  text-align: center; }

.headerNav a:hover {
  color: black;
  text-decoration: none; }

.logo {
  padding: 25px 0 25px 15px; }

.ulNav {
  margin-left: 70px; }

.ulNav li {
  display: inline-block; }

.ulNav a {
  display: block;
  color: black;
  width: 70px;
  line-height: 66px; }

.nav1:hover {
  border-bottom: 4px solid #002850; }

/*男子隐藏项*/
.navBox {
  width: 100%;
  margin-left: -200px;
  border-bottom: 1px solid #8c8c8c;
  display: none;
  background: white;
  position: absolute;
  left: 200px;
  top: 71px;
  z-index: 10; }

.navMan {
  width: 750px;
  height: 400px;
  display: flex; }

.navBor {
  display: flex;
  width: 500px;
  height: 350px;
  margin-left: 250px;
  margin-top: 25px;
  border-right: 1px solid #8c8c8c; }

.navMan a {
  color: #313131;
  font-size: 14px;
  display: inline; }

.navMan h3 {
  font-size: 16px;
  font-weight: 100; }

.man1 li {
  width: 100px;
  height: 50px; }

.man2 li {
  width: 100px;
  height: 30px;
  margin-left: 60px; }

.man3 li {
  width: 100px;
  height: 30px;
  margin: 0 60px; }

.rightMan a {
  margin-left: 20px; }

.rightMan a:nth-child(1) {
  display: block;
  margin-top: 30px; }

.rightMan a:nth-child(3) {
  display: block;
  margin-top: -15px; }

/*女子隐藏项*/
.nav2:hover {
  border-bottom: 4px solid #002850; }

.WomenBox {
  width: 100%;
  margin-left: -200px;
  border-bottom: 1px solid #8c8c8c;
  display: none;
  position: absolute;
  background: white;
  left: 200px;
  top: 71px;
  z-index: 10; }

.navWomen {
  width: 750px;
  height: 440px;
  display: flex; }

.WomenBor {
  display: flex;
  width: 500px;
  height: 350px;
  margin-left: 250px;
  margin-top: 25px;
  border-right: 1px solid #8c8c8c; }

.navWomen a {
  color: #313131;
  font-size: 14px;
  display: inline; }

.navWomen h3 {
  font-size: 16px;
  font-weight: 100; }

.Women1 li {
  width: 100px;
  height: 50px; }

.Women2 li {
  width: 100px;
  height: 30px;
  margin-left: 60px; }

.Women3 li {
  width: 100px;
  height: 30px;
  margin: 0 60px; }

.rightWomen a {
  margin-left: 20px; }

.rightWomen a:nth-child(1) {
  display: block;
  margin-top: 30px; }

.rightWomen a:nth-child(3) {
  display: block;
  margin-top: -15px; }

/*男童隐藏项*/
.nav3:hover {
  border-bottom: 4px solid #002850; }

.manChildBox {
  width: 100%;
  margin-left: -200px;
  border-bottom: 1px solid #8c8c8c;
  display: none;
  background: white;
  position: absolute;
  left: 200px;
  top: 71px;
  z-index: 10; }

.navmanChild {
  width: 750px;
  height: 400px;
  display: flex; }

.manChildBor {
  display: flex;
  width: 500px;
  height: 350px;
  margin-left: 250px;
  margin-top: 25px;
  border-right: 1px solid #8c8c8c; }

.navmanChild a {
  color: #313131;
  font-size: 14px;
  display: inline; }

.navmanChild h3 {
  font-size: 16px;
  font-weight: 100; }

.manChild1 li {
  width: 100px;
  height: 50px; }

.manChild2 li {
  width: 100px;
  height: 30px;
  margin-left: 60px; }

.manChild3 li {
  width: 100px;
  height: 30px;
  margin: 0 60px; }

.rightmanChild a {
  margin-left: 20px; }

.rightmanChild a:nth-child(1) {
  display: block;
  margin-top: 30px; }

.rightmanChild a:nth-child(3) {
  display: block;
  margin-top: -15px; }

/*女童隐藏项*/
.nav4:hover {
  border-bottom: 4px solid #002850; }

.womenChildBox {
  width: 100%;
  margin-left: -200px;
  border-bottom: 1px solid #8c8c8c;
  display: none;
  background: white;
  position: absolute;
  left: 200px;
  top: 71px;
  z-index: 10; }

.navwomenChild {
  width: 750px;
  height: 440px;
  display: flex; }

.womenChildBor {
  display: flex;
  width: 500px;
  height: 350px;
  margin-left: 250px;
  margin-top: 25px;
  border-right: 1px solid #8c8c8c; }

.navwomenChild a {
  color: #313131;
  font-size: 14px;
  display: inline; }

.navwomenChild h3 {
  font-size: 16px;
  font-weight: 100; }

.womenChild1 li {
  width: 100px;
  height: 50px; }

.womenChild2 li {
  width: 100px;
  height: 30px;
  margin-left: 60px; }

.womenChild3 li {
  width: 100px;
  height: 30px;
  margin: 0 60px; }

.rightwomenChild a {
  margin-left: 20px; }

.rightwomenChild a:nth-child(1) {
  display: block;
  margin-top: 30px; }

.rightwomenChild a:nth-child(3) {
  display: block;
  margin-top: -15px; }

/*主推系列*/
.nav5:hover {
  border-bottom: 4px solid #002850; }

.zt {
  width: 100%;
  height: 280px;
  margin-left: -200px;
  background: white;
  border-bottom: 1px solid #8c8c8c;
  display: none;
  position: absolute;
  left: 200px;
  top: 71px;
  z-index: 10; }

.ztxl {
  display: flex;
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  justify-content: space-around; }

.ztxl a {
  width: 18%;
  font-size: 16px;
  color: #313131; }

.ztxl img {
  width: 230px;
  margin-top: 50px; }

.more {
  margin-left: 1053px;
  margin-top: -31px;
  text-decoration: underline; }

/*明星系列*/
.nav6:hover {
  border-bottom: 4px solid #002850; }

.super {
  width: 100%;
  height: 280px;
  margin-left: -200px;
  background: white;
  border-bottom: 1px solid black;
  display: none;
  position: absolute;
  left: 200px;
  top: 71px;
  z-index: 10; }

.superstr {
  display: flex;
  width: 100%;
  height: 200px;
  flex-wrap: wrap;
  justify-content: space-around; }

.superstr a {
  width: 18%;
  font-size: 16px;
  color: #313131;
  line-height: 32px; }

.superstr img {
  width: 230px;
  margin-top: 50px; }

.sou_top {
  width: 140px;
  height: 15px;
  outline: none;
  border: none; }

.sou_top input {
  width: 140px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  position: absolute;
  left: 825px;
  top: 20px; }

.sou_top #val {
  font-size: 16px;
  color: #a6a6a6; }

.sou_top i {
  display: block;
  width: 24px;
  height: 22px;
  font-style: normal;
  position: absolute;
  left: 930px;
  top: 25px;
  background-image: url(../img/spritesheet.png);
  background-position: 102px -146px;
  cursor: pointer; }

.righ_Top {
  float: right;
  width: 420px;
  height: 70px;
  margin-left: 0px; }

.righ_Top a {
  color: black;
  text-decoration: none; }

/*.righ_Top a:hover{color:black; text-decoration: none;}*/
.righ_Top i {
  display: inline-block;
  width: 25px;
  height: 23px;
  /*position: absolute; left:990px; top:58px;*/
  background-image: url(../img/spritesheet.png);
  background-position: -48px -5px;
  margin-left: -15px;
  margin-top: 20px; }

.zhuce {
  display: block;
  width: 140px;
  height: 66px;
  /*background: pink;*/
  font-size: 14px;
  color: black;
  margin-left: 160px; }

.righ_Top a b {
  display: inline-block;
  width: 32px;
  height: 25px;
  margin-right: -4px;
  background-image: url(../img/spritesheet.png);
  background-position: -5px -3px; }

.gouCar a {
  display: block;
  margin-top: -42px; }

.gouCar {
  display: block;
  font-size: 14px;
  color: black;
  margin-top: -20px;
  margin-left: 350px; }

.doorBox {
  width: 1223px;
  height: 1100px;
  margin: 0 auto; }
  .doorBox .doorIcon {
    width: 100%;
    height: 60px; }
    .doorBox .doorIcon i {
      display: inline-block;
      font-style: normal;
      font-size: 14px;
      color: #333333;
      cursor: default; }
    .doorBox .doorIcon b {
      margin-top: 25px;
      display: inline-block;
      width: 15px;
      height: 15px;
      background-image: url(../img/spritecow.png);
      background-position: -31px -6px; }

.doorBoxLeft {
  float: left;
  width: 368px;
  height: 436px;
  border-radius: 3px;
  border: 1px solid #dcdddd; }
  .doorBoxLeft .doorBoxLeftin {
    margin: 0 auto;
    width: 325px;
    height: 165px;
    border-bottom: 1px dotted #dcdddd; }
    .doorBoxLeft .doorBoxLeftin .doorTop {
      width: 100%;
      height: 40px;
      background: #ebebeb; }
      .doorBoxLeft .doorBoxLeftin .doorTop span {
        font-size: 16px;
        color: #333333;
        line-height: 40px; }
  .doorBoxLeft select {
    margin-top: 10px;
    outline: none;
    border: none;
    border: 1px solid #dadada;
    font-size: 16px;
    color: #333333; }
  .doorBoxLeft #mySelectspan {
    font-size: 12.8px;
    color: #e53935;
    display: none; }

.doorStyle {
  margin: 0 auto;
  width: 325px;
  height: 255px; }
  .doorStyle span {
    display: block;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    margin: 15px auto; }
  .doorStyle input {
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid #dadada; }

#doorStylecheck a {
  display: inline-block; }

.doorStylebtn {
  margin-top: 10px;
  width: 325px;
  height: 43px;
  outline: none;
  border: none;
  background: #434343;
  color: white;
  font-size: 16px; }

.doorBoxRight {
  float: right;
  width: 838px; }
  .doorBoxRight .doorBoxRightTop {
    width: 100%;
    height: 34px;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #dadada; }
    .doorBoxRight .doorBoxRightTop .doornum {
      font-size: 16px;
      color: #333333; }
    .doorBoxRight .doorBoxRightTop .doorBoxPage {
      width: 226px;
      height: 26px;
      font-size: 16px;
      color: #333333; }
      .doorBoxRight .doorBoxRightTop .doorBoxPage .brokePage {
        width: 48px;
        height: 24px;
        display: flex;
        position: absolute;
        top: -20px;
        right: 20px; }
        .doorBoxRight .doorBoxRightTop .doorBoxPage .brokePage li {
          text-align: center; }
          .doorBoxRight .doorBoxRightTop .doorBoxPage .brokePage li a {
            width: 24px;
            height: 24px;
            border-radius: 0;
            font-size: 12px;
            color: #878787;
            background: #434343; }

.doorcen {
  width: 100%;
  height: 157px;
  padding-top: 20px;
  border-bottom: 1px dotted #dadada;
  display: flex; }

.doorcen a:hover {
  text-decoration: none; }

.doorcen a {
  display: block;
  margin-top: 40px; }

.doorcenR {
  margin-left: 40px; }

a:hover {
  text-decoration: underline; }

/*foot1*/
.foots {
  width: 100%;
  height: 576px;
  background: #e7e7e7; }

.foots a {
  color: black; }

.foot1 {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex; }

.foot1 a {
  font-size: 26px;
  color: #1d6dba; }

.foot1 a:hover {
  text-decoration: none; }

.v1 {
  margin-left: 400px;
  margin-top: 20px;
  width: 270px;
  height: 63px; }

.v2 {
  margin-top: 20px;
  width: 270px;
  height: 63px; }

.v1 span {
  margin: -5px 10px;
  display: inline-block;
  width: 37px;
  height: 36px;
  background-image: url(../img/footer-3-icons.png);
  cursor: pointer; }

.v2 span {
  margin: -5px 10px;
  display: inline-block;
  width: 37px;
  height: 36px;
  background-image: url(../img/footer-3-icons.png);
  background-position: 37px 0px;
  cursor: pointer; }

.foot3 {
  width: 1088px;
  height: 320px;
  margin: 38px auto 0;
  border-bottom: 1px solid #b0b0b0; }

.foot3 i {
  font-style: normal;
  font-size: 12px;
  color: #313131; }

.foot3 img {
  margin: 0 10px; }

.foot4 {
  width: 590px;
  display: flex;
  justify-content: space-between; }

.foot4 h3 {
  font-size: 14px;
  padding-top: 38px;
  padding-bottom: 10px;
  color: #313131; }

.foot4 ul li a {
  font-size: 12px;
  color: #313131; }

.foot5 {
  float: right; }

.foot5 img {
  margin-right: 10px; }

.guanzhu {
  padding: 40px 0 10px 0;
  font-size: 14px; }

.foot5 a:hover {
  text-decoration: none; }

.foot6 {
  display: flex;
  position: relative; }

.xiaoshi {
  display: none;
  position: absolute;
  left: -68px;
  top: 30px; }

.wx:hover .xiaoshi {
  display: block; }

.skq {
  font-size: 14px;
  margin-left: -66px; }

.in {
  height: 24px;
  margin-left: -240px;
  display: flex; }

.txt {
  height: 24px;
  outline: none;
  border: none; }

.btn img {
  margin-left: -13px;
  margin-top: -13px;
  cursor: pointer; }

.foot7 {
  width: 100%;
  height: 96px;
  position: relative; }

.foot8 {
  width: 1180px;
  height: 96px;
  margin: 0 auto;
  padding-left: 48px; }

.foot8 span {
  padding-top: 15px;
  display: block;
  color: #313131; }

.foot8 i {
  display: block;
  font-style: normal;
  font-size: 12px; }

.foot8 span img {
  margin-right: 40px; }

.foot8 span {
  margin-right: 30px; }

.back {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  line-height: 44px;
  background: black;
  position: fixed;
  right: 78px;
  bottom: 85px;
  opacity: .5; }
